*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 90px;
    background-color: black;
 
}

#logo{
    width: 15%;
    height:50px;
    border: 0px solid red;
    margin-left: 3%;
}
 
#logo1{
    margin-top: -90%;
    margin-left: -30%;
}


#navbar{
    width: 58%;
    height:51px;
    border: 0px solid green;
    float:right;
    margin-top: -3.9%;
    margin-right: 15%;
    padding-left: 5%;   
}

.contactus{
    width: 5%;
    height:30px;
    border: 0px solid red;
    float: right;
    margin-top: -3%;
    margin-right: 2%;
 }

.a1 > a{
    font-size:smaller;
    text-decoration: none;
    min-height: 50px;
    line-height: 50px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.ul:hover{
    text-decoration: underline;
    color:white;
 }

.intro4{
    height:1000px; border: 0px solid green;margin-top: -1.5%;background-color: black;
} 

#intro4lm{
    height:540px; border: 0px solid orange;
    background-image: url(https://static.tweaktown.com/news/9/1/91152_02_elon-musk-congratulates-spacex-staff-after-its-best-rocket-tragically-explodes.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#div1{
    width:90%;height:130px; border: 0px solid pink;margin-top: 3%;margin-left: 4%;
}
#div1 > h4{
    color: grey; font-size:larger;
}
#div1 > h3{
    color: white; font-size:250%;padding-top: 2%;
}

.para{
    color:white;
    text-align: justify;
    line-height: 25px;
}
#div2{
    width:45%;height:230px; border: 0px solid blue;margin-top: 1%;margin-left: 4%;
}
#div3{
    width:45%;height:150px; border: 0px solid purple;float: right;margin-top: -17%;margin-right: 4%;
}

#footer{
height: 100px;background-color: black;    
}

#footer > p{
    color:white; 
    text-align: center;
    font-size: 70%;
    padding-top: 2%;
}

#footer  a{
    color:white;
    text-decoration: none;
}

#footer p::before{
    content:"SPACEX © 2023";
    color: white;
    font-size: 100%;
}
